* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  color: #fff;
}

body {
  background-color: #2a2a2a;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

button {
  width: 120px;
  height: 60px;
  background-color: #4c4f50;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 20px 15px;
  cursor: pointer;
}
header {
  background-color: #181818;
  width: 100%;
  border-radius: 0 0 10px 10px;
  padding-bottom: 15px;
}

#main-h1 {
  margin: 0;
  text-align: center;
  font-size: 80px;
  text-decoration: underline solid #fff;
}

#showbtnimg {
  position: absolute;
  top: 32%;
  left: 35%;
  width: 400px;
  height: 400px;
  display: none;
}

#sounds-magic {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

h2 {
  text-align: center;
  font-size: 24px;
}
#btn-inputs {
  width: 200px;
  height: fit-content;
  box-shadow: 0 0 20px rgb(35, 39, 40);
  background-color: #4c4f50;
  border-radius: 20px;
  margin: 0 10px;
  padding: 5px 15px;
}
